<!DOCTYPE html>
<html>
<head>
	<link lang="en"></link>
	<meta charset="UTF-8"></meta>
	<title>Clientes -Guardar</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css"></link>

</head>
<body>
	<div class="col s12">
		<div class="row">
			<nav>
		    	<div class="nav-wrapper">
			      	<a href="#" class="brand-logo">UTN</a>
			      	<ul id="nav-mobile" class="right hide-on-med-and-down">
			        	<li><a href="sass.html">Usuarios</a></li>
			        	<li><a href="components.html">Acerca</a></li>
			        	<li><a href="javascript.html">Contactenos</a></li>
			      	</ul>
		    	</div>
			</nav>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s6">
				<form class="col s12" action="#" th:action="@{/customer/add}" th:object="${customer}" method="post">
                    <div class="row">
						<div class="input-field col s12">
							<input id="id" type="number"  th:field="${id}" class="validate" placeholder="ID" ></input>
							<label for="id">ID:</label>
						</div>

                        <div class="input-field col s12">
                          <input id="name" type="text" th:field="${name}" class="validate" placeholder="Nombre"></input>
                          <label for="name">Nombre:</label>
                        </div>

                       <div class="input-field col s12">
                          <input id="lastname" type="text" th:field="${lastname}" class="validate" placeholder="Apellido"></input>
                          <label for="lastname">Apellido:</label>
                        </div>
                        <div class="input-field col s6">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                    </div>
				</form>
			</div>
		</div>
	</div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
</body>
</html>